[**Wang Language v0.14.10**](../README.md)

***

[Wang Language](../globals.md) / ValidationResult

# Interface: ValidationResult

Defined in: [parser/wang-validator.ts:10](https://github.com/artpar/wang/blob/61b057ca9085041eb45870b6832c37fc9af1ff26/src/parser/wang-validator.ts#L10)

## Properties

### ast?

> `optional` **ast**: `any`

Defined in: [parser/wang-validator.ts:18](https://github.com/artpar/wang/blob/61b057ca9085041eb45870b6832c37fc9af1ff26/src/parser/wang-validator.ts#L18)

***

### error?

> `optional` **error**: `object`

Defined in: [parser/wang-validator.ts:12](https://github.com/artpar/wang/blob/61b057ca9085041eb45870b6832c37fc9af1ff26/src/parser/wang-validator.ts#L12)

#### column

> **column**: `number`

#### line

> **line**: `number`

#### message

> **message**: `string`

#### suggestion?

> `optional` **suggestion**: `string`

***

### valid

> **valid**: `boolean`

Defined in: [parser/wang-validator.ts:11](https://github.com/artpar/wang/blob/61b057ca9085041eb45870b6832c37fc9af1ff26/src/parser/wang-validator.ts#L11)
